body{
  background-image: linear-gradient(to bottom, #f1f1f1, #cacaca);
  border: solid 1px #979797;
}

#dasboard_home{
	min-height: 600px;
}

.navbar-left {
  float: left;
  margin-left: 15px;
  display: block;
}

.header_bar{
	padding-left: 0px;
	padding-right: 0px;
}

.header_bar .navbar{
	border-radius: 0px;
	background-color: #f0f0f0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header_bar .form-control{
	border: 1px solid #ffffff;
	box-shadow: none;
}

.header_bar .input-group-addon{
	background-color: #ffffff;
	border: none;
	padding: 0px 5px;
	width: 30px !important;
}

.header_bar .navbar-form{
	width: 50%;
}

.header_bar .input-group{
	width: 100%;
}

.header_bar .caret{
	margin-left: 15px;
}

.box_dashboard img{
	width: 100%;
}

.box_dashboard_50{
	padding: 0px;
}

.box_dashboard_50 img{
	width: 100%;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50;
}

#container-floating img{
	cursor: pointer;
}

#container-floating-close-modal{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  display: none;
}

#container-floating-close-modal img{
	cursor: pointer;
}

#modal-container-chat .modal-content{
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.insert-text-chat{
	position: absolute;
	bottom: 0px;
	width: 80%;
}

.insert-text-chat .input-group-addon{
	border: none;
}

.insert-text-chat input{
	height: 80px;
	font-size: 18px;
	border: none;
}
.insert-text-chat .input-group-addon{
	background-color: #ffffff;
}

.domanda-chat{
	width: 406px;
	border-radius: 30px 30px 0px 30px;
	background-color: #f5f5f5;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	float: right;
	padding: 20px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 22px;
	letter-spacing: normal;
	color: #868686;
	margin-bottom: 5px;
	margin-right: 35px;
}

.risposta-chat{
	width: 406px;
	border-radius: 30px 30px 30px 0;
	background-color: #0091af;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	float: left;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 22px;
	letter-spacing: normal;
	text-align: justify;
	color: #ffffff;
	margin-bottom: 5px;
	margin-left: 35px;
}

.risposta-graph{
  margin-bottom: 5px;
  margin-left: 0px;
	float: left;
}

.risposta-graph img{
  width: 80%;
}
.avatar-risposta{
    background: url(../images/avatar-bot@2x.png) left center no-repeat;
	background-size: 45px;
    height: 45px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 5px;
}

.avatar-domanda{
	background: url(../images/avatar-consultant@2x.png) right center no-repeat;
	background-size: 45px;
    height: 45px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 5px;
}


.modal-content-chat{
	overflow: auto;
}

#modal-content-chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

#modal-content-chat::-webkit-scrollbar
{
	width: 10px;
	background: transparent;
}

#modal-content-chat::-webkit-scrollbar-thumb
{
	background-color: #aaaaaa73;
	border-radius: 10px;
}

.attesa_scrittura img{
	width: 50px;
}

.breadcrumb_left span, .breadcrumb_left span a{
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #868686;
}

.breadcrumb_left{
	padding: 15px;
}

.breadcrumb_right{
	padding: 15px;
	text-align: right;
}

.breadcrumb_right span{
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #868686;
}

.scelta-chat{
	width: 230px;
	min-height: 55px;
	border-radius: 10px;
	background-color: #ffffff;
	border: solid 3px #0091af;
	padding: 15px;
	padding-left: 30px;
    padding-right: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
	float: left;
	margin-left: 35px;
	margin-right: 5px;
}

.suggestion_content{
	margin-left: 35px;
	width: 405px;
	display:                 flex;
	display:                 -webkit-flex; /* Safari 8 */
	flex-wrap:               wrap;
	-webkit-flex-wrap:       wrap;         /* Safari 8 */
	justify-content:         center;
	-webkit-justify-content: center;
}

@media (min-width: 768px){
	#modal-container-chat .modal-dialog{
		width: 1100px;
	}
}

/* Mobile css */
@media (max-width: 768px){
	.domanda-chat{
		width: calc(100% - 70px);
	}
	.risposta-chat{
		width: calc(100% - 70px);
	}
}

#user-signed-out{
	display: none;
	min-height: 600px;
	font-size: 36px;
	color: #868686;
}

#user-signed-in{
	display: none;
}

#loading{
	min-height: 600px;
	text-align: center;
	padding-top:100px;
	font-width: bold;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  padding-top: 60px;
}
